@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

h1, h2 {
    font-size: 48px;
}

h2 {
    text-align: center;
}

h3 {
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 1.25;
}

h3:hover {
    color: #6415ff;
    cursor: pointer;
    transition: ease 300ms;
}

p {
    font-size: 16px;
    margin: 32px 0;
}

.purple {
    color:#6415ff;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.subtitle {
    font-size: 16px;
    text-align: center;
    margin: 0 0 16px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    display: flex;
}

li:hover {
    color: #6415ff;
    text-decoration: underline;
    cursor: pointer;
    transition: ease 300ms;
}

button {
    width: 150px;
    padding: 12px 32px;
    border-radius: 24px;
    background-color:#6415ff;
    color: #fff;
    border: none;
    font-size: 14px;
}


/* NAV */

.logo {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.business__logo {
    height:48px;
    width: 48px;
    padding-right: 12px;
}

.nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.nav__link {
    padding: 12px 0;
    font-size: 14px;
    font-weight: 600;
    margin: 0 24px;
}

.link__primary {
    background-color: #6415ff;
    color: #fff;
    padding: 12px 32px;
    border-radius: 24px;
}

.link__primary:hover { 
    background-color: #5011cc;
    color: #fff;
    text-decoration: none;
    transition: ease 300ms;
}

/*  HERO */

.two__column {
    display: flex;
    height: 100vh;
    padding: 4rem 0;
}

.container__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.button__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

input {
    padding: 20px 192px 20px 32px;
    border-radius: 32px;
    border: 1px solid #A0AEC0;
    position: absolute;
}

input:hover {
    border: px solid rgba(0, 0, 0, .4);
    transition: ease 300ms;
}

input:active {
    border: #6415ff;
    transition: ease 300ms;
}

.email__button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: none;
    margin-left: 220px;
}

.email__button:hover{
    background-color:#5011cc;
    cursor: pointer;
}

.small__text {
    margin-top: 80px;
    color: #A0AEC0;
    font-size: 12px;
}

.business__logo--list {
    width: 70%;
    height: auto;
}

.container__right {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    justify-content: center;
}

.header__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

/* FEATURES*/

.features {
    padding: 80px 0;
}

.description__para {
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 540px;
    margin: 32px auto;
}

.services {
    display: flex;
    flex-wrap: wrap;
}

.service {
    display: flex;
    align-items: flex-start;
    width: calc(100%/3);
    padding: 24px 12px;
}

.service__description {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
    padding-left: 16px;
}

i { padding: 16px;
    border-radius: 50px;
    color:#6415ff;
    border: 1px solid #6415ff;
}

.service__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.service__title {
    padding-left: 16px;
}

/* QUALITY WORK */

.quality__work {
    padding: 6rem 0;
    display: flex;
    justify-content: center;
}

.subtitle__left {
    text-align: left;
    font-size: 16px;
}

.container__left--even {
    width: 50%;
    margin-right: 2rem;
   
}

.container__right--even {
    width: 50%;
    
}

.left__title {
    text-align: left;
}

.section__img {
    width: 100%;
    height: auto;

}