@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

h2 {
    font-size: 48px;
}

p {
    font-size: 18px;;
}

.purple {
    color:#6415ff;
}

.row {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subtitle {
    font-size: 16px;
}

/* FEATURES*/

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}